objectstore/src/main/mule/objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1f47240c-a5e0-435d-98e1-c9c5d8fd0805" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="1ef27584-78e2-45e0-99de-8543afc672a8" />
	<flow name="objectstoreFlow" doc:id="aeb3bc94-4e7a-49e2-a154-066008f52e90" >
		<http:listener doc:name="Listener" doc:id="407b1d65-6293-49c2-a7cc-5af8c4125542" config-ref="HTTP_Listener_config" path="store"/>
		<set-variable value="#[attributes.queryParams.song]" doc:name="Set Variable" doc:id="0247061d-3711-4d61-9e7c-c187273405e5" variableName="song"/>
		<set-variable value="#[attributes.queryParams.artist]" doc:name="Set Variable" doc:id="92eca863-1044-47e2-a8ba-76ed5fa62713" variableName="artist "/>
		<logger level="INFO" doc:name="Logger" doc:id="cd876fa2-796e-4ecf-b098-357d1056d529" message="Hello"/>
		<os:store doc:name="Store" doc:id="315c2f79-cbe8-4214-9cc5-295fc9326cbd" objectStore="Object_store" key="#[vars.song]">
			<os:value ><![CDATA[#[vars.artist]]]></os:value>
		</os:store>
	</flow>
	<flow name="objectstoreFlow1" doc:id="e27efc2e-a6d5-4191-a6e4-fd59f2e49e9f" >
		<http:listener doc:name="Listener" doc:id="6fe4a502-12e9-439b-beec-c4f7b5ada57d" config-ref="HTTP_Listener_config" path="rl"/>
		<logger level="INFO" doc:name="Logger" doc:id="35d859d6-c8b9-43e2-836a-6d897cc9b112" message="hello test this application"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="bd8db248-cb2f-4bb6-9fa1-814c2d9105a5" objectStore="Object_store"/>
	</flow>
	<flow name="objectstoreFlow2" doc:id="a4016ae9-6c75-49f7-8380-0f54f8309297" >
		<http:listener doc:name="Listener" doc:id="75947c13-52f4-4e91-b76c-23919961807b" config-ref="HTTP_Listener_config" path="rak"/>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="b904c9bd-77ea-4e52-9688-985bb1280837" objectStore="Object_store"/>
	</flow>
	<flow name="objectstoreFlow3" doc:id="515630a5-96de-45a7-b1a8-7c00c8da1ed7" >
		<http:listener doc:name="Listener" doc:id="959c45c0-3f90-4241-bf35-4e003f1f48d7" config-ref="HTTP_Listener_config" path="r"/>
		<os:retrieve doc:name="Retrieve" doc:id="08ad1879-a61d-4c9d-8431-2232028d1c6f" key="#[attributes.queryParams.song]" objectStore="Object_store"/>
	</flow>
	<flow name="objectstoreFlow4" doc:id="2f0073b2-9428-4b04-98fa-e0f90180bdad" >
		<http:listener doc:name="Listener" doc:id="092110ed-15c9-4949-9d9c-a9d1514b9d79" config-ref="HTTP_Listener_config" path="contain"/>
		<os:contains doc:name="Contains" doc:id="f661bcc9-1e9f-4d1c-a2ad-519cc324e0de" key="#[attributes.queryParams.song]"/>
		<ee:transform doc:name="Transform Message" doc:id="0d0d1296-dda8-4d9e-ac78-01ad7ce39efb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectstoreFlow5" doc:id="b151217f-a773-4866-a391-e1f43399b04c" >
		<http:listener doc:name="Listener" doc:id="ae7170ea-8f39-4aea-901c-6ed26917e6a2" config-ref="HTTP_Listener_config" path="rm"/>
		<os:remove doc:name="Remove" doc:id="92d49e75-9240-46d9-86fa-23b0339d65dc" key="#[attributes.queryParams.song]" objectStore="Object_store"/>
	</flow>
	<flow name="objectstoreFlow6" doc:id="6367f88a-4229-4714-8461-c9d4690d7ab0" >
		<http:listener doc:name="Listener" doc:id="a1367833-3c19-4ffe-bfbd-6bc33e5ac703" config-ref="HTTP_Listener_config" path="clr"/>
		<os:clear doc:name="Clear" doc:id="76233106-2bc1-4ab1-9bcd-1a1ff16da134" objectStore="Object_store"/>
	</flow>
	<flow name="objectstoreFlow7" doc:id="08b3f93b-6b89-424d-95ae-d464cd55f423" >
		<http:listener doc:name="Listener" doc:id="11dcd006-47cd-4dfb-9a2a-0e390be56fd6" config-ref="HTTP_Listener_config" path="records"/>
		<logger level="INFO" doc:name="Logger" doc:id="aa1f9256-cad2-4e48-a59d-c071d9a7eaef" message="hello friends"/>
		<os:store doc:name="Store" doc:id="892f6729-1a90-40d4-ac43-8507f693cd61" key="song-details"/>
	</flow>
</mule>
